body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #e3f2fd, #83bff0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(5,5,5,5);
  width: 400px;
}

h2 {
  text-align: center;
  color: #1565c0;
  margin-bottom: 45px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #1565c0;
  outline: none;
  box-shadow: 0 0 3px #90caf9;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  width: 48%;
  margin-top: 30px;
}

.register-btn {
  background-color: #1565c0;
  color: white;
}

.register-btn:hover {
  background-color: #0d47a1;
}

.clear-btn {
  background-color: #f44336;
  color: white;
}

.clear-btn:hover {
  background-color: #c62828;
}